#navbar{
	padding-top: 10px;
}

#navbar ul { 
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	border-radius: 8px;
} 

#navbar ul li {  
	display: inline; 
} 

#navbar ul li a { 
	text-decoration: none;
	font-size: 1em;
	padding: 4 10px;
	color: #fff;
	background-color: #000;
} 

#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
}